fastapi==0.111.0
uvicorn==0.29.0
selenium==4.24.0
webdriver-manager==4.0.2
pandas==2.2.2
openpyxl==3.1.5
pymongo==4.8.0
python-multipart==0.0.18
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-jose[cryptography]==3.3.0
redis==4.6.0
fastapi-cache2[redis]==0.2.1
python-dotenv==1.0.1
